.ag-root-wrapper{
    border-radius: 4px;
    background-color: #1A1D1F;
    font-size: 12px;
    color:#EFEFEF;
    font-family: manrope;
    
    & .ag-root{
        & .ag-header{
            & .ag-header-cell-text{
                color:#EFEFEF
            }
            .ag-right-aligned-header .ag-cell-label-container {
                flex-direction: row;
            }
            .ag-right-aligned-header .ag-header-cell-label {
                flex-direction: row-reverse;
            }
        }
        & .ag-body{
            & .ag-cell{
                color:#EFEFEF
            }
           
        }
    }
   
 
}
